{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
  <form method="post">
    {% csrf_token %}
    <div>
      <h1>{{ title }}</h1>
      <p>Enter a rejection reason to continue. This reason will be saved and included in the rejection email.</p>

      {% for obj in products %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
      {% endfor %}
      <input type="hidden" name="action" value="reject_products">
      <input type="hidden" name="apply" value="1">

      <fieldset class="module aligned">
        <div class="form-row">
          {{ form.rejection_reason.errors }}
          <div>
            {{ form.rejection_reason.label_tag }}
            {{ form.rejection_reason }}
          </div>
        </div>
      </fieldset>

      <div class="submit-row">
        <input type="submit" value="Reject selected" class="default">
        <a href="." class="button cancel-link">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
